/* .square {
  width: 100px;
  height: 100px;
  position: static;
  margin: 2px 2px;
} */
.square {
  background: #fff;
  border: 1px solid #999;
  
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  /* margin-right: -1px; */
  /* margin-top: 1px; */
  padding: 0;
  text-align: center;
  margin: 5px;
  width: 30%;

}
.container {
  /* width: max-content; */
  border: 2px solid red;
  width: 50%;
  /* position: absolute; */
  margin: auto;
  /* height: max-content; */
  /* align-items: center; */
  /* justify-content: center; */
}
.board-row {
  /* position: fixed; */
  /* overflow: none; */
}
.status {
  margin-bottom: 10px;
  /* border: 1px solid black; */
  width: max-content;
  margin: auto;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}
.mainContainer {
  border: 1px solid black;

}